html {
    color:aliceblue;
}
body {
    cursor: crosshair;
    background-color: black;
    margin: 0px;
}

div#signin {
    text-align: center;
    vertical-align: middle;
}


/* form#login_signup {
    
} */

 